<%= include horizontalHeader %>

<div class='container'>
	<div class='content horizontal-content'>
		<!-- Welcome bar -->
		<h1 style='white-space:normal;color:#888;'>
			<b>Welcome to Pictoral.ly - a place to discover the best creative & visual blogs.</b>  We've just opened our beta, so feel free to poke around or 
			<a id='aboutEmailLink' href='mailto:hello@pictoral.ly' style='color:#FF0057' class='pct-email-link' target='_blank'>shoot us a note</a>, we'd love to hear from you.
			<br /><br />
		</h1>

		<hr style='width:auto;border-style: dashed;' />
		
		<h1 style='white-space:normal;color:#888;'>
			<b>Our goal is get the best creative content in front of your eyes.</b>  To do this, we've built a catalog of our favorite blogs and designed a beautiful way for you to quickly get to know them and a voting system to help you know what people are into at the moment.
			<br /><br />
			</h1>

		<hr style='width:auto;border-style: dashed;' />

		<h1 style='white-space:normal;color:#888;'>
			<b>Do you know of some great blogs we missed? Or are you a blogger that would like your blog on the site?</b>  We're always looking for great, visually-engaging blogs to showcase.  Send an email to hello@pictoral.ly with suggestions.
			<br /><br /><br /><br />
		</h1>

		<hr style='width:auto;' />

		<h1 style='white-space:normal;color:#888;'>
			Made with love with in <a href='' ng-href='/?city=Los%20Angeles&state=California&country=USA' style='color:#FF0057'>Los Angeles</a>, <a href='' ng-href='/?state=California' style='color:#FF0057'>California</a> & <a href='' ng-href='/?city=Helsingborg&country=Sweden' style='color:#FF0057'>Helsingborg</a>, <a href='' ng-href='/?country=Sweden' style='color:#FF0057'>Sweden</a>.
		</h1>
	</div>
</div>