<h1>Admin</h1>
<p>Your resource for all types of admin.</p>

<a href='' ng-href='/admin/collections'><h1>Collections</h1></a>
<a href='' ng-href='/admin/users'><h1>Users</h1></a>
<a href='' ng-href='/admin/feeds'><h1>Feeds</h1></a>
<a href='' ng-href='/admin/categories'><h1>Categories</h1></a>
<a href='' ng-href='/admin/invites'><h1>Invite Requests</h1></a>
