<%= include horizontalHeader %>

<div class='container'>
	<!--<div class='features'>
		<div class="left-feature">
			<div class='feature-arrow' ng-click='featureBackward()'><i class='icon-angle-left icon-4x'></i></div>
			<img ng-src="{{ leftFeature.content.image }}" />
		</div>
		<div class="center-feature" ng-style='featuresCenterWidth' p-href='/feed/{{ centerFeature.content.id }}'>
			<div class="feature-title-container">
				<div class="feature-title">
					<h4>{{ centerFeature.content.title }}</h4>
					<h1>{{ centerFeature.content.subject }}</h1>
					<div class="feature-title-background"></div>
				</div>
			</div>
			<img ng-src="{{ centerFeature.content.image }}" />
		</div>
		<div class="right-feature">
			<div class='feature-arrow' ng-click='featureForward()'><i class='icon-angle-right icon-4x'></i></div>
			<img ng-src="{{ rightFeature.content.image }}" />
		</div>
	</div>-->

	<horizontal-browse></horizontal-browse>
	
</div>

<% if (!data.email) { %> 
<div ng-hide='signupFooterHidden' class='signup-footer-container' ng-switch='signupFooter.state'>
	<div class='signup-footer' ng-switch-default>
		<span class='byline'><b>Get the top 10 by email.</b> It's like blog take-out.&nbsp;&nbsp;<i class='icon-food icon-large' style='color:#BBB;'></i>&nbsp;&nbsp;Yum.</span>
		<form name='newsletterSignup' ng-submit='signup(newsletter)' ng-init='signupIsUnsubmitted=false' novalidate>
			<span ng-show='!signupIsUnsubmitted && newsletterSignup.$valid' class='message'>{{ signupFooter.message }}</span>
			<span ng-show='signupIsUnsubmitted && newsletterSignup.$invalid && newsletterSignup.email.$dirty && newsletterSignup.email.$error.required' class='message'>Need an email.</span>
			<span ng-show='signupIsUnsubmitted && newsletterSignup.$invalid && newsletterSignup.email.$dirty && newsletterSignup.email.$error.email' class='message'>Need a real email...</span>
			<input name='email' type='email' ng-model='newsletter.email' placeholder='Your email address here.' required />
			<input name='submit' type='submit' value='Submit' ng-click='signupIsUnsubmitted=true' ng-class="{'ng-disabled': submittingNewsletterSignup}" ui-validate-form-requirements />
		</form>
	</div>
	<div class='signup-footer' ng-switch-when='confirmation'>
			<span class='confirmation-container'>
				<span class='message'>{{ signupFooter.message }}</span>
				<button ng-click='hideSignupFooter()'>Hide this</button>
			</span>
	</div>
	<div class='shadow-horizontal-top-large'></div>
</div>
<% } %>