<div id='register' class='gold-background slideup' pct-size-to-window>
	<!-- INTRO FRAMES -->

	<div class='main-content'>
		<div class='section-header'>
			<div class='section-index'>3</div>
			<h2 class='pad'>Add avatar</h2>
		</div>

		<div id='account' class='medium-form-wrapper center form-light row-fluid form-group'>
			<div class="col-sm-6 col-sm-offset-3">
	            <div class='' pct-upload-user-avatar>
	                <div class="img-thumbnail center">
	                	<img ng-src="{{ avatar || 'http://s3-us-west-1.amazonaws.com/pctrly-dev/avatars/users/default.jpg' }}">
	                </div>
	            </div>
	        </div>
	        <div class="col-sm-6 col-sm-offset-3 row-fluid">
                <button ng-hide='showAvatarUpload' href="" ng-click='showAvatarUpload=true' class="image-button light col-xs-12 fade-out fade-in-delay">Choose Avatar</button>

                <button ng-hide='avatarSuccess' href="" ng-click='avatarSuccess=true' class="clear yellow-clear col-xs-12 fade-out fade-in-delay">I like this one!</button>
                <a href='' ng-href='/feed' style='position:relative;'><button ng-show='avatarSuccess' class="yellow-dark col-xs-12 fade-out fade-in-delay">Come on in!</button></a>

                <!--<button ng-hide='showAvatarUpload' href="" ng-click='showAvatarUpload=true' class="light col-sm-6 fade-out fade-in-delay">Let us choose :)</button>-->

                <button ng-disabled='!image' ng-show="image" ng-show='showAvatarUpload' ng-click='uploadImage(avatar)' class="yellow-dark col-xs-12 fade-out" ng-bind='uploadMessage'></button>
                <div ng-show='showAvatarUpload' class='file-upload fade-out fade-in-delay form-group' ng-mouseenter='uploadHover=true' ng-mouseleave='uploadHover=false' ng-mousedown='uploadHover=false' ng-mouseup='uploadHover=true'>
                	<button class="yellow-light col-xs-12" ng-class="{ 'light-hover': uploadHover }">Choose Image</button>
                	<div class='text-center thick gray file-upload-name'>{{ image.name }}</div>
                	<div class='text-center thick error file-upload-name'>{{ avatarMessage }}</div>
                	<input name='image' id='avatarUpload' type='file' file-upload class='upload' />
                	<button ng-show='showAvatarUpload' class="light col-xs-12" ng-click='chooseDefaultAvatar()'>Let Us Choose</button>
                	<button class="clear yellow-clear col-xs-12" ng-click='resetAvatarUpload()'>Cancel</button>
                </div>
            </div>
            <!--<div ng-hide='showAvatarUpload || avatarSuccess' class="col-sm-6 col-sm-offset-3 row-fluid form-group text-center">
            	<a href='' ng-href='/feed' style='position:relative;'><button class="clear yellow-clear col-xs-12 thick small gray">Skip</button>
            </div>-->
	    </div>
	</div>
</div>