	<!-- TITLE -->
	<div id='' class='fade-out ' pct-size-to-window>
		<!-- INTRO FRAMES -->

		<div class='main-content visible center text-center' ng-style="{ 'margin-top': windowHeight/2-100 }">
			<!-- GOLD LINE -->
			<!--<div id='goldLine1' class='gold-line medium-gold-line'></div>-->

			<!-- LOGO -->
			<h4 id='welcomeTo' class='white'>WELCOME TO</h4>
			<div id='logo' class='black logo logo-large'><a href='' ng-href='/'><span pct-celebrat="subtle" pct-celebrate-speed='250'>Smörgåsbord</a></div><br/>
			<a href='' ng-href="{{ '/register/3/'  + hash }}" style='position:relative;'><button class='btn btn-wide btn-clear-yellow'>Register</button></a>
			<!--<div class='centered-anchor behind'><img pct-image-cloak src='/assets/img/frames-intro.png' class='frames-intro frames-register' width='1200' /></div>-->
		</div>
	</div>